html {
  	box-sizing: border-box;
	font-size:16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
:root{
    --wine-color:#722F37;
    --blood-color:#880808;
    --gold-color:#D3AF37;
}
svg{
    width: 40px;
    height: 40px;
    fill: var(--blood-color);
    cursor: pointer;
}

/********************header*************/
.header{
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header__logo{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
.header__icons{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.header__menubtn{
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:48em) {
    .header__menubtn{
        display: none;
    }
}
.header__menubtn p{
    margin: 0.2rem;
    color: var(--blood-color);
    font-weight: 700;
}
.header__sccontainer{
    width: auto;
    height: auto;
    position: relative;
}
.header__colorscicon{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 24px;
    visibility: hidden;
    opacity: 0;
}
.header__colorscicon--show{
    visibility: visible;
    opacity: 1;
}
/******************menu movil******************/
.menu__m{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--wine-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    text-align: center;
    transform: translateX(-100%);
    
}

.menu__m--show{
    animation: movemenu 2s ease forwards; 
}
@keyframes movemenu{
    0%{
        transform: translateX(-80%);
    }
    50%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}
.menu__m__closec{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu__m__closebtn{
    width: 90px;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
}
.menu__m__closebtn > p{
    color: white;
    margin: 0.2rem;
}
.menu__m svg{
    fill: white;
    
}
.menu__m > a{
    width:150px ;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    margin: 0.8rem;
    border-bottom: thick solid white;
    cursor: pointer;
}
/************menu fixed************/
.menu__fixed{
    width: 100%;
    height: auto;
    display: none;
}
.menu__fixed > a{
    text-decoration: none;
    color:var(--blood-color);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.8rem;
}
@media screen and (min-width:48em) {
    .menu__fixed{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/****************hero**************/
.hero{
    width: 100%;
    height: calc(100vh - 90px);
    background-image: url('./images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
.hero__title,
.hero__subt{
    color: var(--blood-color);
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    backdrop-filter: blur(1rem);
}
.hero__subt{
    font-size: 1.5rem;
    color: white;
}
.hero__cta{
    text-align: center;
    width: 180px;
    height: 50px;
    background-color: var(--blood-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}
.hero__cta > a{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
}
/*******************experience*************************/
.experience{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 2rem;
}
.experience__title{
    width: 100%;
    height: auto;
    background-image: url('./images/border.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 1.1rem;
    text-align: center;
    
}
.experience__title > h2{
    color: var(--gold-color);
    font-size: 2.5rem;
}
.experience__info{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:62em) {
    .experience__info{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        justify-items: center;
        align-items: center;
    }
}
.experience_img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    border: thick solid var(--gold-color);
    margin: 0.5rem;
}
@media screen and (min-width:62em) {
    .experience_img{
        width: 400px;
        height: 400px;
    }
}
.experience_phrasecont{
    width: 350px;
    height: 350px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    border-radius: 1rem;
    border: thick solid var(--gold-color);
    text-align: center;
}
@media screen and (min-width:62em) {
    .experience_phrasecont{
        width: 480px;
        height: 400px;
    }
}
.experience_phrase{
    font-size: 1.5rem;
    color:var(--gold-color);
    font-style: italic;
    padding: 1rem;
    line-height: 3rem;
}
/* ****************products*********** */
.products{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.products__title{
    width: 100%;
    height: auto;
    background-image: url('./images/border.png');
    background-repeat: no-repeat;
    background-position: center 1.1rem;
    background-size: contain;
    text-align: center;
}
.products__title > h2{
    color:var(--gold-color);
    font-size: 2.5rem;
}
.products__list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.products__figure{
    width: 350px;
    height: 400px;
    border: thin solid var(--wine-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:0.5rem;
}
.products__img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}
.products__figtitle{
    font-size: 1.5rem;
    color: var(--wine-color);
    margin: 0.5rem;
}
.products__figcaption > span{
    font-size: 1.2rem;
    
}
.products__seemore,
.products__buy{
    width: 120px;
    height: 30px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--wine-color);
    color: white;
    font-size: 1rem;
}
/****************pairing*******************/
.pairing{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.pairing__subtitle{
    width: 90%;
    height: auto;
    
}
.pairing__subtext{
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: justify;
    
}

.pairing__types{
    width: 80%;
    height: auto;
    background-image: linear-gradient(black, gray, white);
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:48em) {
    .pairing__types{
        margin-top: 3rem;
    }
}
.pairing__card1,
.pairing__card2,
.pairing__card3{
    width: 300px;
    height: 300px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.pairing__card1{
    background-image: url('./images/cheese.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pairing__card1 > p,
.pairing__card2 > p,
.pairing__card3 > p{
    backdrop-filter: blur(1rem);
    text-align: center;
    color: white;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 700;
    
}
.pairing__card2{
    background-image: url('./images/fruit.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pairing__card3{
    background-image: url('./images/wine.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (min-width:30em) {
    .pairing__card1,
    .pairing__card2,
    .pairing__card3{
        margin: 1rem;
    }
}
/********************footer*******************/
.footer{
    width: 100%;
    height: 150px;
    background-color: var(--wine-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__content{
    width: 80%;
    height: auto;
    background-image: url('./images/borde2.png');
    background-repeat: no-repeat;
    background-position: center 1rem;
    background-size: contain;
    
    text-align: center;
}
.footer__content h3,
.footer__content p{
    color:#D3AF37;
}
.footer__icons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__icons > svg{
    width: 30px;
    height: 30px;
    fill: var(--gold-color);
    margin: 0 0.5rem;
}
/********************modalpay**************/
.modalpay{
    width: 100%;
    height: 100vh;
    background-color: rgba(114, 47, 55,0.9);
    display: flex;
    justify-content: center;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    visibility: hidden;
    opacity: 0;
    padding: 1rem;
    
}

.modalpay--show{
    visibility: visible;
    opacity: 1;
    
}

.modalpay__content{
    width: 400px;
    height: auto;
    border: thick solid var(--gold-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalpay__prod{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalpay__prod > p{
    color: white;
    font-size: 1.2rem;
    margin: 0.2rem;
}
.modalpay__img{
    width: 230px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    
}
.modalpay__inumber{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    border-radius: 1rem;
}
.closemodal__container{
    width: 100%;
    height: auto;
    text-align: end;
}
.closemodal{
    margin: 1rem;
    width: 30px;
    height: 30px;
    border: none;
    background-color: white ;
    color: var(--wine-color);
    cursor: pointer;
    font-size: 1.1rem;
}
.modalpay__h2{
    color: white;
    font-size: 1.5rem;
    margin: 0.2rem;
}
.modalpay__p,
.modalpay__m{
    width: 30px;
    height: 40px;
    background-color: white;
    color:var(--wine-color) ;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
}
.modalpay__addtocart{
    width: 140px;
    height: 35px;
    border: none;
    color: var(--wine-color);
    background-color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 3rem;
    cursor: pointer;
    margin: 1rem;
}
/*************mensaje*******/
.message{
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: green;*/
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}
.message--show{
    visibility: visible;
    opacity: 1;
}
/**********modal shopping cart*******/
.shoppingcart{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.94);
    position: fixed;
    top: 0;
    z-index: 55;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingcart--show{
    visibility: visible;
    opacity: 1;
}
.shoppingcart__content{
    width: 100%;
    height: 100vh;
    /* background-image: url('./images/shoppingcartbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    position: relative;
    /* overflow-y: scroll; */
}
.shoppingcart__title{
    text-align: center;
}
.sc__innercontent{
    width: 100%;
    height: auto;
    position: absolute;
    top:50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: thick solid var(--gold-color);
    border-radius: 2rem;
}
@media screen and (min-width:30em) {
    .shoppingcart__content{
        width: 458px;
    }
}
.sc__innercontent span{
    color:white;
    margin: 0.8rem 0;
}
.sc__innercontent > h2{
    color:white
}
.sc__closebtn{
    width: 100%;
    height: auto;
    text-align: end;
    padding: 1rem;
}
.sc__closebtn > button{
    width: 30px;
    height: 30px;
    background-color: var(--gold-color);
    border: thin solid black;
    margin: 0 1rem;
    cursor: pointer;
}
.sctable{
    padding: 0.5rem;
}
.sctable th{
    border-bottom: thin solid var(--gold-color);
}
.sctable  th,
.sctable  td{
    color:white;
    text-align: center;
}
.paypal__container{
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
}
.pay__btn{
    width: 140px;
    height: 30px;
    background-color: var(--gold-color);
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
.shoppingcart__adv{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.8rem;
}
.shoppingcart__adv--show{
    color: white;
}
